#Database
DATABASE_URL=neon_database_connection_string

#Node
NODE_ENV=development
PORT=''

# Frontend
FRONTEND_URL=''

# JWT
ACCESS_TOKEN_SECRET=''
REFRESH_TOKEN_SECRET=''
# In min
ACCESS_TOKEN_EXPIRY=''
# In days
REFRESH_TOKEN_EXPIRY=''
# Email Verification
EMAIL_VERIFICATION_SECRET=''
EMAIL_VERIFICATION_TOKEN_EXPIRY=''

# Resend
RESEND_API_KEY=''
RESEND_USER=''